{% extends 'employertemplates/employerbase.html' %}
{% block title %}My Profile{% endblock %}
{% block content %}
<br>
<div class="container mx-auto">
	<div class="row">
		<div class="col-md-4">
			
			<img src="{{employer.company_image.url}}" alt="" class="img-fluid">
			
		</div>	
		<div class="col-md-8">
			<p><strong>Name: </strong>{{employer.name}} </p>
			<p><strong>Email: </strong>{{employer.email}} </p>
			<p><strong>Address: </strong>{{employer.address}} </p>
			<p><strong>Contact: </strong>{{employer.mobile}} </p>
			<p><strong>Website: </strong>{{employer.website}} </p>
			<hr>
			<button class="btn btn-warning"><a
					href="{% url 'jobapp:employerprofileupdate' employer.id %}">Update Profile</a></button>
		</div>
	</div>
	<br>
	<table class='table'>
		<thead>
			<tr>
				<th>Sn</th>
				<th>Job title</th>
				<th>Deadline</th>
				<th>Posted on</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			{% for job in employer.job_set.all %}
			<tr>
				<td>{{forloop.counter}}</td>
				<td><a
						href="{% url 'jobapp:employerjobdetail' job.id %}">{{job.title}}({{job.jobapplication_set.count}}application)</a>
				</td>
				<td>{{job.deadline}}</td>
				<td>{{job.created_at}}</td>
				<td>{{job.status}}</td>
				<td>
					<a type="button" class="btn btn-warning" href="{% url 'jobapp:employerjobupdate' job.id %}">Update</a>
					<a  type ="button" class="btn btn-danger" href="{% url 'jobapp:employerjobdelete' job.id %}">Delete</a>

				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

{% endblock %}