{% extends 'admintemplates/adminbase.html' %}
{% block content %}
<div class="main">
<h1>JobList</h1>
<table class="table">
	<thead>
		<tr>
			<th>Sn</th>
			<th>JobTitle</th>
			<th>Image</th>
			<th>Status</th>
		
		</tr>

		

	</thead>
	<tbody>
		{% for job in jobobject %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:adminjobdetail' job.id %}">{{job.title}}</td>
			<td><img src="{{job.image.url}}" width="200"></td>
			<td>{% if not job.status == 'completed' %}<a href="{% url 'jobapp:adminjobstatuschange' job.id %}">{{job.status}} {% else %}<button type="button" class="btn btn-success">Completed</button>{% endif %}</a></td>
			
		</tr>
		{% endfor %}
	</tbody>
	

</table>
</div>

{% endblock %}