{% extends 'admintemplates/adminbase.html' %}
{% block content %}
<div class="main">

<h1>JobSeekerList</h1>

<table class="table table-dark">
	<thead>
		<tr>
			<th>Sn</th>
			<th>name</th>
			<th>address</th>
			<th>mobile</th>
			
		</tr>
	</thead>
	<tbody>
		{% for jobseeker in jobseekerobject %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td><a href="{% url 'jobapp:adminjobseekerdetail' jobseeker.id %}">{{jobseeker.name}}</td>
			<td>{{jobseeker.address}}</td>
			<td>{{jobseeker.mobile}}</td>
			

		</tr>
		{% endfor %}
	</tbody>

	

</table>
</div>

{% endblock %}