{% extends 'jobseekertemplates/base.html' %}
{% block title %} CV Builder {% endblock%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
<form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.first_name|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.last_name|as_crispy_field }}
      </div>
      <div class="col-6">
      {{form.technical_skills|as_crispy_field}}
    </div>
    <div class="col-6">
      {{form.non_technical_skills|as_crispy_field}}
      </div>
      {{form.email|as_crispy_field}}
      {{form.city|as_crispy_field}}
      {{form.state|as_crispy_field}}
      {{form.country|as_crispy_field}}
      {{form.phone|as_crispy_field}}
      {{form.job_title|as_crispy_field}}
      {{form.company_name|as_crispy_field}}
      {{form.experience_year|as_crispy_field}}
      {{form.degree_type|as_crispy_field}}
      {{form.clz_name|as_crispy_field}}
      {{form.subject|as_crispy_field}}
      {{form.gratuated_year|as_crispy_field}}
    </div>
    <button type="submit" class="btn btn-success">Save person</button>
  </form>
</div>

{% endblock %}


