{% extends 'jobseekertemplates/base.html' %}
{% block content %}
<div class="container mt-5">
    <h4 class="text-center">Top Hiring Companies</h4>
    <div class="card-deck">

        <div class="card">
            <!-- image to be placed later-->

            <div class="card-body">
                <h5 class="card-title"></h5>
                <h7 class="card-text"></h7>
                <p></p>
            </div>
            <div class="card-footer">
                <a href="" class="text-muted">Read More</a>
            </div>
        </div>

        <!--
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Name</h5>
                    <h7 class="card-text">Company Address</h7>
                    <p>Contact Details</p>
                </div>
                <div class="card-footer">
                    <a href="" class="text-muted">Read More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Company Name</h5>
                    <h7 class="card-text">Company Address</h7>
                    <p>Contact Details</p>
                </div>
                <div class="card-footer">
                    <a href="" class="text-muted">Read More</a>
                </div>
            </div>
        </div>
        -->
    </div>

    </main>


    {% endblock %}