{% extends 'jobseekertemplates/base.html' %}
{% block content %}
<div class="container">
    <p>Profile</p>
    <div class="card" style="width:400px">
      <img class="card-img-top" src="{{jobseeker.image.url}}" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{jobseeker.name}}</h4>
        <p class="card-text">{{jobseeker.about}}</p>
        <a href="{% url 'jobapp:jobseekerprofileupdate' jobseeker.id %}" class="btn btn-primary">UpdateProfile</a>
      </div>
    </div>
    <br>
   
{% comment %}
<!-- <a href="{% url 'jobapp:jobseekerpasswordchange' %}">ChangePassword</a> -->
{% endcomment %}
{% if jobseeker.jobapplication_set.all %}
<h3>Job I have Applied</h3>
</hr>

<table class='table table-bordered table-info'>
	<thead>
		<tr>
		<th>SN</th>
        <th>JobTitle</th>
        <th>Position</th>
        <th>Salary</th>
		<th>Company</th>
		<th>Date</th>
        <th>Skills</th>
        <th>is_appllied</th>
		</tr>
	</thead>
	<tbody>
		{% for jobapplication in jobseeker.jobapplication_set.all %}
	
		<tr>
			<td>{{forloop.counter}}</td>
            <td>{{jobapplication.job.title}}</td>
            <td>{{jobapplication.job.level}}</td>
            <td>{{jobapplication.job.salary}}</td>
			<td>{{jobapplication.job.employer.name}}</td>
            <td>{{jobapplication.created_at}}</td>
            <td>{{jobapplication.job.skills}}</td>
            <td>{{jobapplication.is_applied}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
<hr>
{% if jobrecommend %}
<h2 style="text-align:center;" color="red;">Recommend job with you</h2>
<table class="table table-bordered table-info">
	<thead>
		<tr>
			<th>Job Positon</th>
				<th>Company</th>
                <th>Job Title</th>
                <th>Salary</th>
                <th>Deadline</th>
                <th>skills</th>
				<th>View Detail</th>

		</tr>
		
	</thead>
	<tbody>
            {% for job in jobrecommend %}
			<tr class="table-active">
                <td>{{job.level}}</td>
                <td>{{job.employer.name}}</td>
                <td>{{job.title}}</td>
                <td>{{job.salary}}</td>
                <td>{{job.deadline}}</td>
                <td>{{job.skills}}</td>
                <td>

                       <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{job.id}}">
                        Details
                    </button>
                       <div class="modal fade" id="{{job.id}}" data-backdrop="static" data-keyboard="false"
                         tabindex="-1"
                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">{{job.title}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Company Name: <small>{{job.employer.name}}</small></p>
                                    <p>Address: <small>{{job.employer.address}}</small></p>
                                    <p>Salary: <small>{{job.salary}}</small></p>
                                    <p>Job Type: <small>{{job.job_type}}</small></p>
                                    <p>Description: <small>{{job.details}}small></p>
                                    <p>Education: <small>{{job.education}}</small></p>
                                    <p>Career level: <small>{{job.level}}</small></p>
                                    <p>Experience: <small>{{job.experience}}</small></p>
                                    <p>Qualification; <small>{{job.employer.qualification}}</small></p>
                                    <p>Last Date to Apply: <small>{{job.deadline}}|</small></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <a href="{% url 'jobapp:jobseekerjobapply' job.id %}">Apply</a>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </td>
            
            </tr>
            {% endfor %}
		
	</tbody>
		

</table>
{% endif %}

</div>



{% endblock %}