{% extends 'jobseekertemplates/base.html' %}
{% block title %}Job Portal{% endblock %}
{% block css %}
{% endblock %}

{% block content %}

<main>
    <div class="container">
        <br><br>
        <h2>Search Available Job</h2>
        <form action="{% url 'jobapp:search' %} " method="GET" value="{{request.GET.search}}{{request.GET.location}}">
            <div class="form-row">
                <div class="col-md-4">
                    <input class="form-control" placeholder="Search Job by title,Category" aria-label="Search"
                        name="search">

                       
                </div>
                <div class="col-md-4">
                    <input class="form-control" placeholder="Location" aria-label="Search" name="location">
                </div>
                <button class="btn btn-success" type="submit" class="validate" name="submit"
                    value="Search">Search</button>
            </div>
        </form>
        <div>
            <button class="btn btn-warning"><a href="{% url 'jobapp:cv_builder' %}"> Build Resume</a></button>
        </div>

    </div>

    <div class="container mt-5 mb-5 pt-3">
        <table class="table table-hover">
            <h4>Recent Job Posts</h4>
            <thead>
                <tr>
                    <th scope="col">Job Title</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Skill</th>
                    <th scope="col">Location</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}

                <tr class="table-active">
                    <td>{{job.title}}</td>
                    <td>{{job.employer.name}}</td>
                    <td>{{job.skills}}</td>
                    <td>{{job.employer.address}}</td>
                    <td>

                        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#{{job.id}}">
                            Details
                        </button>
                        <div class="modal fade" id="{{job.id}}" data-backdrop="static" data-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">{{job.title}}
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Company Name: <small>{{job.employer.name}}</small></p>
                                        <p>Address: <small>{{job.employer.address}}</small></p>
                                        <p>Salary: <small>{{job.salary}}</small></p>
                                        <p>Job Type: <small>{{job.job_type}}</small></p>
                                        <p style=" word-wrap: break-word;">Description: <small>{{job.details}}</small>
                                        </p>
                                        <p>Education: <small>{{job.education}}</small></p>
                                        <p>Career level: <small>{{job.level}}</small></p>
                                        <p>Experience: <small>{{job.experience}}</small></p>
                                        <p>Qualification; <small>{{job.employer.qualification}}</small></p>
                                        <p>Last Date to Apply: <small>{{job.deadline}}|</small></p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>

    
                                        <a href="{% url 'jobapp:jobseekerjobapply' job.id %}">Apply</a>
                                       
                                        
                                    </div>
                            
                                </div>
                            </div>
                        </div>

                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-primary center"><a href="{% url 'jobapp:alljob' %}">Load More Posts</a> </button>
        </div>
    </div>
    <br>

    <div class="container">
        <h3 class="text-center">Latest Job Opening Companies</h3> <br><br>
        <div class="row row-cols-1 row-cols-md-3">
            {% for employer in employers %}
            <div class="col mb-4 col-md-3">
                <div class="card h-100">
                    <img src="{{ employer.company_image.url}}" class="card-img-top"
                        style="height: 150px; object-fit: contain;" alt="...">
                    <div class="card-body">
                        <h6 class="card-title">{{ employer.name }}</h6>
                        <p class="card-text">Address: {{ employer.address }}</p>
                        <p class="card-text">Contact: {{ employer.mobile }}</p>
                        <p class="card-text">Website: {{ employer.website }}</p>
                    </div>
                    <div class="card-footer">
                        <!-- <small class="text-muted">Details</small> -->
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <br><br>
</main>

{% endblock %}
{% block js %}
<script>
$('#age-min').change(function(){
    k=$('#age-min option:selected').text();
    alert(k);
})
</script>
{% endblock %}